@import '../base.scss';
@import '../a11y.scss';

// Hide the header navigation.
section.topbar,
section .navigation-inner,
section.header-wrapper html,
.search-field-wrapper {
  display: none;
}

body.has-second-level-menu {
  @include media($tablet-min-width, $mobile) {
    padding-top: 0;
  }
}

@include media($tablet) {
  .lightweight-header--navigation {
    margin-left: 0;
  }
}

// Mailinglist style.
#edit-mailinglists,
#edit-email {
  margin-top: 10px;
}

@include media($tablet, $mobile) {
  .site-header .header-inner .pane-search-form {
    display: none;
  }
}

// Change the background for body.
body {
  padding-top: 0;

  &.has-second-level-menu,
  &.search-form-extended {
    @include media($tablet, $mobile) {
      padding-top: 0;
    }
  }
}

body,html,
.ding2-site-template,
.view-tags-list .group-separator {
  background-color: $bibliofil;
  color: $white;
  font-family: $font-family;
}

a,
ul.main-menu-third-level li a,
h2.pane-title,
.node-ding-eresource.node-teaser .text {
  color: $white;
}

b,
strong {
  font-family: $font-family-bold;
}

h1,
h2,
h3,
h3 a,
.pane-node-title h2,
h2.pane-title,
.pane-content .pane-title,
.node-ding-news.node-full h1,
.node-ding-event.node-full h1,
.panel-pane ul.sub-menu li a.active,
.node-ding-library.node-teaser .page-title a,
.view-tags-list .group-separator .group-inner .separator-title,
.node-ding-eresource.node-full h1 {
  color: $white;
  font-family: $font-family-light;
}

h3.title {
  font-family: $font-family-light;
}

.node-ding-news.node-full .field-name-field-ding-news-lead,
.node-ding-event.node-full .field-name-field-ding-event-lead {
  font-family: $font-family-bold;
}

input[type=email],
input[type=password],
input[type=text] {
  font-family: $font-family;
}

table thead,
.panel-pane.ding-library-address .pane-title,
.panel-pane.ding-library-contact .pane-title {
  font-family: $font-family-bold;
}

a:hover,
.pane-views-exp-ding-event-ding-event-list .views-exposed-form-widget .sub-menu li label:hover,
ul.pager li a {
  color: $white;
}

// Change color on the search page.
.pane-views-exp-ding-event-ding-event-list .views-exposed-form-widget .sub-menu li label,
.secondary-content .panel-pane.pane-menu-title h2,
.secondary-content .panel-pane.pane-page-title h2, li a.active {
  color: $white;
}

.pane-views-exp-ding-event-ding-event-list .views-exposed-form-widget .sub-menu-title::after {
  background-color: $color-secondary;
}

.node-ding-event.node-teaser {
  .info-bottom,
  .date,
  .title-and-lead h3.title {
    color: $white;
  }
}

.title-and-lead:hover .pane-views-exp-ding-event-ding-event-list .views-exposed-form-widget .sub-menu li label:hover,
a:hover,
ul.pager li a {
  color: $white;
}

.title-and-lead:hover {
  .node-ding-event.node-teaser h3.title,
  .no-touch .node-ding-event.node-teaser:hover .field-name-field-ding-event-leads {
    color: $white-opacity-light;
  }
}

.view-ding-event .group-separator .separator-title {
  font-family: $font-family-light;
}

ul.pager li.pager-current {
  color: $color-secondary;
}

.no-touch ul.pager li.pager-next a:hover::after,
.no-touch ul.pager li.pager-previous a:hover::after {
  background-color: $color-secondary;
}

input[type=checkbox]:checked+label::before,
input[type=checkbox]:checked, input[type=radio]:checked,
#ui-datepicker-div .ui-datepicker-calendar td a.ui-state-highlight:hover,
#ui-datepicker-div .ui-datepicker-calendar td a:hover {
  background-color: $color-text-link-red;
}

#ui-datepicker-div .ui-datepicker-calendar td a.ui-state-highlight,
#ui-datepicker-div .ui-corner-all .ui-icon {
  background-color: $color-secondary;
}

// Change color on the libraries page.
.pane-ding-facetbrowser .sub-menu-title::after,
.pane-library-list .sub-menu-title::after,
.pane-og-menu-og-single-menu-block .sub-menu-title::after,
.pane-taxonomy-menu .sub-menu-title::after,
ul.pager li.pager-next a::after,
ul.pager li.pager-previous a::after {
  background-color: $color-secondary;
}

@include media($tablet, $mobile) {
  .opening-hours-table td:first-child {
    color: $white;
  }
}

.opening-hours-week {
  .button-previous::after,
  .button-next::after {
    background-color: $color-text-link-red;
  }
}


// Change color on the E-bibliotek.
.panel-pane ul.sub-menu li a.active::before {
  background-color: $color-text-link-red;

}

// Change the background for content and messages. 
.content-wrapper {
  .pane-content {
    .default-panel-layout {
      .left-and-main-content.inner,
      .left-and-main-content,
      .attachments-wrapper .panel-pane {
        background-color: $bibliofil;
        background-image: none;
      }
    }
  }

  .panel-pane.system-messages {
    &,
    & .messages.status {
      background-color: $bibliofil-dark;
      background-image: none;
    }
  }
}

.messages{
  &.error,
  &.status {
    font-family: $font-family-bold;
    font-size: 20px;
    color: $white;
  }
}

.panel-pane.system-messages .close-messages-button::after {
  color: $white;
}

.content-wrapper .panel-pane.system-messages {
  visibility: hidden;
  opacity: 0;

  &.present {
    visibility: visible;
    opacity: 1;
  }

  .messages.error {
    background-color: $color-text-link-red;
  }
}

div.panels-ipe-placeholder,
.page-no-panels .content-wrapper,
.node.view-mode-search-result .content {
  background-color: $bibliofil-dark;
  background-image: none;
}

.content-wrapper {
  .pane-content {
    .frontpage-layout {
      .panel-pane {
        background-color: $bibliofil;
        background-image: none;
      }
    }
  }
}

// Change the background and color for input.
.panel-pane.pane-import {
  input[type=text] {
    background-color: $white;
    color: $bibliofil-button;
  }
}

// Change event and news background.
.node-ding-news.node-full,
.node-ding-event.node-full,
.pane-views-panes.pane-ding-library-ding-library-libraries-list,
.node-ding-eresource.node-full {
  background-color: $bibliofil;
  background-image: none;
}

// Change the background and color for input.
.pane-views-exp-ding-event-ding-event-list .form-item input {
  background-color: $white;
  color: $text-input;
}

// Change the background for submit button.
input[type="submit"] {
  background-color: $bibliofil-button;
}

table tr:nth-child(2n+1){
  background-color: $bibliofil-dark;
  color: $white;
}

// Change color for table tr.
table tr {
  &.odd {
    background-color: $bibliofil-dark;
  }

  @include media($tablet) {
    &.even {
      background-color: transparent;
    }

    &.odd {
      background-color: $bibliofil-dark;
    }
  }
}

.page-arrangementer table tr:nth-child(2n+1) {
  background-color: $white-opacity-dark;
}

@include media($tablet) {
  .opening-hours-table tr.odd {
    background: $bibliofil-dark;
  }

  .opening-hours-table tr.even {
    background: transparent;
  }
}

// Change color for more link button.
.more-link {
  a {
    font-family: $font-family-bold;
    background-color: $color-secondary;

    @include media($mobile) {
      width: auto;
      text-overflow: unset;
    }

    &:hover {
      background-color: $white-opacity-light;
    }

    &::after {
      color: $white;
    }
  }
}

a.opening-hours-toggle.collapsed::after,
.node-ding-eresource.node-teaser .buttons a.read-more,
.node-ding-eresource.node-full>.inner>.buttons a.buttons-button-back {
  background-color: $color-secondary;
  color: $white;
}

a.opening-hours-toggle::after {
  background-color: $color-secondary;
}

.no-touch {
  .more-link a:focus,
  .more-link a:hover,
  a.opening-hours-toggle:hover::after {
    background-color: $white-opacity-light;
  }

  .ding-carousel {
    .slick-slider{
      .slick-arrow {
        &.slick-next,
        &.slick-prev {
          &:hover::after {
            background-color: $white-opacity-light;
          }
        }
      }
    }
  }
}

.ding-carousel {
  .slick-slider{
    .slick-arrow {
      &.slick-next,
      &.slick-prev {
        &::after,
        &:hover,
        &:focus {
           background-color: $color-secondary;
           border-radius: 5px;
        }
      }
    }

    .slick-track {
      .placeholder {
        background-image: none;
        background-color: $bibliofil-dark;

        .icon-spinner {
          color: $charcoal-opacity-dark;
        }
      }
    }
  }
}

.node-ding-news .ding-news-inner>.field-name-field-ding-news-materials>.field-label,
#main-content .node-ding-eresource.node-teaser .buttons a::after {
  color: $white;
}

.ting-object.view-mode-teaser-no-overlay>.inner .field-name-ting-author,
.ting-object.view-mode-teaser>.inner .field-name-ting-author,
.field-name-ting-author,
.field.field-name-ting-author.field-type-ting-author.field-label-hidden a.author {
  color: $color-secondary;
}

.ting-object.view-mode-reference-teaser {
  background-color: $bibliofil-dark;

  .field-name-ting-type li,
  .buttons .read-more-button::after {
    color: $white;
  }

  .buttons .read-more-button,
  .action-button {
    color: $white;
    background-color: $color-secondary;

    &:hover {
      color: $white;
    }
  }
}

.no-touch {
  .button:hover,
  a.topbar-link-user-account.active,
  a.topbar-link-user-account:hover {
    background-color: $color-secondary;
  }
}

// Change color on the tabroll.
.ding-tabroll .ui-tabs-nav .ui-tabs-nav-item.ui-state-active a,
.ding-tabroll .ui-tabs-nav .ui-tabs-nav-item a,
.no-touch .ding-tabroll .ui-tabs-nav .ui-tabs-nav-item a:hover {
  color: $white;
}

@include media($tablet, $mobile) {

  .ding-tabroll .ui-tabs-panel .info h3 a,
  .ding-tabroll .ui-tabs-panel .info {
    color: $white;
  }
}

#ding-tabroll {
  border: none;
}

.ding-tabroll {
  .ui-tabs-nav {
    .ui-tabs-nav-item {
      a {
        color: $white-opacity-dark;
      }
    }
  }
}

.ding-tabroll .ui-tabs-nav .ui-tabs-nav-item a::after,
.node-ding-eresource.node-teaser .buttons a,
.node-ding-eresource.node-full>.inner>.buttons a {
  background-color: $color-text-link-red;
}

.node-ding-eresource.node-full>.inner>.buttons a {
  color: $white;
}

// Change color for topbar opening hours.
a.topbar-link-opening-hours {
  @include button(clock, $charcoal);
  color: $charcoal-opacity-extra-dark;

  &:hover {
    &::after {
      color: $charcoal;
    }
  }
}

// Change color for Image caption.
.field-image-caption {
  color: $white-opacity-dark;
}

.carousel-tabs {
  .carousel-list-tabs {
    .carousel-item {
      a {
        color: $white-opacity-dark;

        &:hover {
          color: $white;
        }

        &::after {
        background-color: $color-text-link-red;
       }
      }

      &.active a {
        color: $white;
      }
    }
  }
}

// Chaged color for Ting reference.
.ting-reference-item {
  .placeholder {
    background-image: none;
  }
}

.site-header {
  .topbar-inner {
    .topbar-menu {
      background-color: $bibliofil-dark;
    }
  }

  .header-inner {
    .pane-search-form {
      .form-actions {
        input[type="submit"] {
          background-color: $bibliofil-button;
        }
      }
    }
  }

  // Change color for Navigation.
  >.navigation-wrapper {
    background-color: $color-topbar;
  }

  .navigation-inner {
    background-color: $bibliofil-dark;
  }
}


// Change color for Main menu.
.main-menu-wrapper {
  >ul.main-menu {
    >li {
      @include media($tablet) {
        >a {
          border-bottom: 1px solid $white-opacity-light;
        }
      }

      a {
        color: $white;

        &::after {
          background-color: $white;
        }
      }
    }
  }
}

// Change color for Main menu third level.
ul.main-menu-third-level {
   &.expanded {

    &.active-trail,
    &.active {
      >a {
        color: initial;
        font-family: $font-family-bold;

        &::after {
          color: initial;
        }
      }
    }
  }

  li {
    a {
      .no-touch & {
        &:hover {
          color: initial;
        }
      }
      &.active-trail,
      &.active {
        &::after {
          color: $white;
          top: 7px;
          left: 0;
        }
      }
    }
  }
}

.pane-exp-node-search-filters .views-exposed-form-widget .sub-menu li label {
  color: $white;
}

.pane-exp-node-search-filters .views-exposed-form-widget .sub-menu-title {
  border-top: 1px solid $white-opacity-light;
}

// Change color for Top menu.
ul.topbar-menu {
  li {
    &.topbar-link-user {
      a {
        color: $charcoal-opacity-extra-dark;
      }
    }
  }
}

.node-ding-eresource {
  &.node-teaser {
    background-color: $bibliofil-dark;
  }

  &.node-full {
    background-image: none;

    >.inner {
      >.buttons {
        a {
          color: $white;
        }
      }

      .field-name-field-ding-eresource-link {
        display: flex;

        .field-items {
          line-height: 2;
          display: contents;
        }
      }

      .field-name-field-ding-eresource-tags {
        display: flex;

        .field-label {
          display: inline-block;
          padding-top: 1px;
        }

        .field-items {
          display: inline-block;
          padding-left: 5px;

          .even a,
          .odd a {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

// Change color for node Event.
.node-ding-event {
  &.node-teaser {
    .info-top {
      color: $white;
    }

    .inner {
      .background {
        background-color: $bibliofil-dark;
      }
    }

    .no-touch & {

      &.is-hovered,
      &:hover {
        .background {
          background-color: $color-topbar;

          .button {
            color: $charcoal-opacity-dark;
          }

          .title-and-lead {
            color: $white;
          }
        }
      }
    }
  }
}

.no-touch {
  .node-ding-event.node-teaser {
    &.is-hovered .background,
    &.node-teaser:hover .background {
      background-color: $bibliofil;
    }
  }
  .opening-hours-week .button-next:hover::after {
    background-color: $white-opacity-light;
  }
}

// Change color for node News.
.node-ding-news {
  &.node-teaser {
    a {
      color: $white;
    }

    .category-and-submitted {
      color: $white-opacity-dark;
    }
  }

  &.node-full {
    background-image: none;
  }
}

.opening-hours-table {
  td {
    .opening-hours-table-notice {
      color: $white-opacity-dark;
    }
  }
}

.opening-hours-week {
  .button-previous,
  .button-next {
    &::after {
      color: $white;
    }
  }
}

// Change color for Ding labrary address & ding library contact.
.panel-pane {
  &.ding-library-address,
  &.ding-library-contact {
    margin-bottom: 40px;

    .pane-title {
      border-bottom: 1px solid $white-opacity-light;
      color: $white;
    }
  }
}

.field-type-email a,
.field-type-link-field a,
.library-contact-email a {
  color: $color-secondary;
  font-family: $font-family-bold;
}

.panel-pane.pane-search-backends {
  fieldset {
    border-top: 1px solid $white-opacity-light;
  }
}

// Change Search help.
.panel-pane.search-help {
  border-top: 1px solid $white-opacity-light;
}

.panel-pane.pane-ding-facetbrowser {
  fieldset {
    border-top: 1px solid $white-opacity-light;
  }
}

// Change Pane bibliotek info.
.pane-bibliotek-info {
  border-top: 1px solid $white-opacity-light;
}

.pane-views-exp-ding-event-ding-event-list {
  .views-exposed-form {
    border-top: 1px solid $white-opacity-light;
  }

  .views-exposed-form-widget {
    .sub-menu-title {
      border-top: 1px solid $white-opacity-light !important;
      font-family: $font-family-bold;
      font-size: 1.125em;
      line-height: 1.5em;
    }

    .sub-menu {
      li {
        label {
          font-family: $font-family;
        }
      }
    }
  }
}

.pane-views-exp-ding-news-ding-news-list {
  .views-exposed-form {
    border-top: 1px solid $white-opacity-light;
  }

  .views-widget-filter-field_ding_news_category_tid,
  .views-widget-filter-og_group_ref_target_id_entityreference_filter {
    label {
      h2 {
        border-top: 1px solid $white-opacity-light;
      }
    }
  }
}

// Specific styles for menu panes and taxonomy facet browser.
.pane-menu-block-3,
.pane-og-menu-og-single-menu-block,
.pane-user-menu {
  .sub-menu-title {
    border-bottom: 1px solid $white-opacity-light;
  }
}

.pane-taxonomy-menu,
.pane-library-list,
.pane-og-menu-og-single-menu-block,
.pane-menu-block-3,
.pane-ding-facetbrowser {
  .sub-menu-title {
    border-top: 1px solid $white-opacity-light;
  }

  &:last-child {
    @include media($tablet) {
      border-bottom: 1px solid $white-opacity-light;
    }
  }
}

// Change User login panel.
.pane-user-login {
  color: $charcoal-opacity-extra-dark;
}

.popupbar {
  color: $charcoal-opacity-dark;
}

.frontpage-layout {
  .view-ding-event .more-link {
    margin-top: 50px;
  }
}

.view-ding-library.view-display-id-ding_library_libraries_list {
  .views-row {
    border-top: 1px solid $white-opacity-light;
  }
}

.view-ding-library .library-list .views-row:last-child {
  border-bottom: 1px solid $white-opacity-light !important;
}

.view-tags-list {
  .group-separator {
    background-image: none;
  }
}

input[type=checkbox]:checked+label::after {
  color: $charcoal-opacity-dark;
}

#sliding-popup.sliding-popup-bottom {
  #popup-buttons {
    .agree-button,
    .find-more-button,
    .hide-popup-button {
      background: $bibliofil-button;
      background-image: none;
      color: $white;
    }
  }
}

.social-share-container .share-buttons .icon span {
  font-family: $font-family;
}

.pane-des-subscribe {
  background: $color-topbar;
}

// Changed admin color and background.
ul.primary {
  li a {
    &,
    &.active {
      color: $bibliofil-dark;
    }
  }
}

.field-name-field-ding-page-body a {
  color: $color-secondary;
  font-family: $font-family-bold;
}

.group-right .paragraphs-block--inner {
  background-color: transparent;

  .field-label {
    margin-bottom: 10px;
  }
}

// Stiling Staff page.
ul.list.staff-list {
  li .staff-name-title {
    a,
    div {
      color: $white;
    }
  }

  .staff-email a,
  .staff-phone {
    color: $color-secondary;
  }

  .staff-email span,
  .staff-phone span {
    color: $white;
  }
}

.pane-ding-library-opening-hours-ding-library-opened-today {
  .ui-widget-header .ui-tabs-active {
    background: $bibliofil-dark;
  }

  .ui-widget-header .ui-state-default a,
   h3 a {
    color: $color-secondary;
  }

  .ui-widget-header .ui-state-default {
    width: 45%;
  }
}
// Menu Block alterations.
.pane-menu-block-3 {
  position: relative;
  margin-bottom: 25px;

  // Tablet
  @include media($tablet) {
    cursor: pointer;
  }
  .sub-menu-title {
    position: relative;
    border-top: 1px solid $charcoal-opacity-light;
    padding-top: 25px;

    // Tablet
    @include media($tablet) {
      padding-right: 78px;
    }

    // Mobile
    @include media($mobile) {
      padding-right: 64px;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    @include arrow-button(arrow-down);
    &::after {
      display: none;
    }

    // Tablet
    @include media($tablet) {
      margin-bottom: 25px;
      &::after {
        display: block;
        right: 0;
        top: 10px;
      }
    }
  }
  &:first-child {
    .sub-menu-title {
      border-top: none;
      padding-top: 0;

      // Tablet
      @include media($tablet) {
        padding-top: 25px;
      }
    }
  }
  ul.sub-menu,
  ul.list-items,
  ul.main-menu-third-level {
    display: block;

    @include media($notebook) {
      display: block;
    }

    // Tablet
    @include media($tablet) {
      display: none;
    }
  }

  &:last-child {
    @include media($tablet) {
      border-bottom: 1px solid $charcoal-opacity-light;
      &.pane-og-menu-og-single-menu-block {
        border-bottom: none;
      }
    }
  }
}

@include media(new-breakpoint(min-width 951px 12)) {
  ul.main-menu-third-level[style*="display: none;"] {
    display: block !important;
  }
}

// Tablet
@include media($tablet) {
  .panel-pane.pane-block.pane-menu-block-3 {
    display: block !important;
  }
}

#sliding-popup.sliding-popup-bottom,
#sliding-popup.sliding-popup-bottom .eu-cookie-withdraw-banner,
.eu-cookie-withdraw-tab {
  background: $bibliofil-dark;
}
#sliding-popup .eu-cookie-compliance-more-button {
  color: $white;
}

.pane-bibliofil-lists-suggestions {
  .carousel-tabs {
    .select-wrapper {
      display: none;
    }
  }
}

@include media($tablet, $mobile) {
  .pane-bibliofil-lists-suggestions {
    .carousel-tabs {
      .select-wrapper {
        width: 300px;
        display: block;
      }

      .carousel-select {
        padding: 20px 30% 12px 10px;
        margin-bottom: 0;
        width: 300px;
      }
    }
  }
}

.pane-views-exp-ding-event-ding-event-list .views-exposed-form-widget .sub-menu li,
.panel-pane ul.sub-menu li,
.pane-views-exp-ding-news-ding-news-list .form-item .date-padding,
.pane-views-exp-ding-news-ding-news-list .form-item .form-item {
  margin-bottom: 10px;
  margin-top: 0;
  font-family: $font-family;
  height: 28px;

  input[type=checkbox]:not(.switch):after {
    top: 5px;
    left: 10px;
  }

  input[type=checkbox]:not(.switch):focus {
    outline:none;
  }

  a {
    font-family: $font-family;
  }

  label {
    margin-left: 10px;
    line-height: 2;
    margin-bottom: 0;
  }

  input {
    width: 28px;
    height: 28px;
  }
}

.pane-views-exp-ding-news-ding-news-list .views-exposed-form label {
  font-weight: normal;
}

input[type=checkbox]:checked, input[type=radio]:checked {
   --active: $color-text-link-red;
   --focus: 2px $color-text-link-red;
}

.panel-pane ul.sub-menu li a.active::after {
  font-weight: bold;
}
